{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2
  },
  "prefer-const": ["error", {
    "destructuring": "all",
    "ignoreReadBeforeAssign": false
  }],
  "plugins": [
    "security"
  ],
  "extends": [
    "plugin:security/recommended"
  ]
}

